:root
{
    --primary : #043577;
    --second : rgb(220, 232, 247);
    --gray : #A9A8A8;
}
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body 
{
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}
figure img
{
    width: 100%;
}
.container
{
    width: 1200px;
    margin: auto;
}
.btn
{
    display: inline-block;
    padding: 20px 50px;
    font-size: 20px;
}
.bg-primary
{
    background-color: var(--primary);
}
h1
{
    font-weight: 800;
}
/* End generals styles */
header
{
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: white;
}
header nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav figure
{
    width: 200px;
}
.menu
{
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.menu li
{
    display: inline-block;
}
.menu li a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-bar
{
    width: 50px;
}
.nav-bar span
{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px;
}
.nav-bar span:nth-child(2)
{
    width: 80%;
    transition: all 0.5s;
}
.nav-bar:hover span:nth-child(2)
{
    width: 100%;
}
.end-menu
{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.btn-phone
{
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 20px 20px;
    background-color: var(--primary);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.btn-phone i 
{
    font-size: 30px;
}

/* Slides */
.rslides 
{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
.rslides li 
{
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
  
.rslides li:first-child 
{
    position: relative;
    display: block;
    float: left;
}
  
.rslides img 
{
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
    
.callbacks_container 
{
    position: relative;
    margin:auto;    
}
.callbacks_container img
{
    height:100vh;
    object-fit:cover;
}
.callbacks_container ul 
{
    margin:0px;
}  
.caption 
{
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 0px 10px #333;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.callbacks_nav 
{
    position: absolute;
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 50px;
    width: 30px;
    background: transparent url("../img/flechas.png") no-repeat left top;
    margin-top: -45px;

    border: 1px white solid;
    padding: 30px 20px;
}
.callbacks_nav.next 
{
    left: auto;
    background-position: right top;
    right: 0;
}
.caption 
{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    color: #fff;
    width: 800px;
    margin-left: 50%;
    font-family: 'Satoshi Black', sans-serif;
    font-weight: bold;
}
.caption h1
{
    font-size: 65px;
    line-height: 80px;
}
.caption small
{
    display: block;
    padding-top: 20px;
    font-size: 20px;
}
.caption a
{
    margin-top: 40px;
    text-decoration: none;
    color: white;
}
.rslides li img
{
    width: 100%;
}
/* Services */
.services
{
    background-color: var(--primary);
    position: relative;
    height: 420px;
}
.item-services
{
    position: absolute;
    top: -25%;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.row-top
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.row-bottom, .row-bottom article
{
    width: 100%;
}
.card-services
{
    background-color: white;
    padding: 40px;
    text-align: center;
}
.card-services i
{
    font-size: 60px;
    color: var(--primary);
    margin-bottom: 20px;
}
.footer-services
{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    padding-bottom: 30px;
}
.footer-services h1
{
    width: 50%;
}
.footer-services a
{
    color: white;
    text-decoration: none;
    border: 1px white solid;
}
/* About */
.about-info
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin-top: 60px;
}
.about-left
{
    position: relative;
    width: 50%;
}
.about-left .back
{
    position: absolute;
    z-index: -1;
    top: -20px;
    
    animation: spin 15s linear infinite;
}
.about-right, .about-left
{
    width: 45%; 
}
.about-right
{
    padding: 60px;
}
.about-right h1
{
    font-weight: 800;
    color: var(--primary);
    margin-bottom: 30px;
}
.about-right p 
{
    font-size: 16px;
    font-weight: 300;
}
.about-right figure
{
    margin-top: 10px;
    width: 100px;
}
.about-right article{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;

    margin-top: 10px;
    margin-bottom: 20px;
}
.about-right article figure
{
    width: 80px;
}
.about-right article div h3
{
    color: var(--primary);
    margin-bottom: 10px;
}
.about-right a
{
    color: white;
    text-decoration: none;
}
/* Solutions */
.solutions
{
    background-image: url('../img/webona-services-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.solutions-header
{
    padding: 30px 0px;
    color: white;
    text-align: center;
}
.solutions-header h1
{
    font-size: 30px;
    margin-bottom: 10px;
}
.solutions small
{
    font-size: 16px;
}
.solutions a
{
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
}
.item-solutions 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.item-solutions article
{
    width: 32%;
    text-align: center;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    padding: 20px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;

    transition: all 1s;
}
.item-solutions article figure
{
    width: 80px;
    background-color: white;

    transition: all 1s;
}
.item-solutions article h3, .item-solutions article p
{
    transition: all 1s;
}
.item-solutions article:hover
{
    transform: rotate3d(0,1,0, 180deg);
}
.item-solutions article:hover p,
.item-solutions article:hover h3,
.item-solutions article:hover .btn
{
    transform: rotate3d(0,1,0, -180deg);
}
.item-solutions article .btn
{
    transition: all 1s;
}
.item-solutions article:hover figure
{
    display: none;
}

/* Footer */

@keyframes spin {
    100% 
    {
        transform: rotate(360deg);
    }
}