@media screen and (max-width: 390px) {
    .container
    {
        max-width: 390px;
    }
    .menu
    {
        display: none;
    }
    .end-menu .btn-phone
    {
        display: none;
    }
    nav
    {
        padding: 0px 20px;
    }
    /* Slides */
    .caption
    {
        width: 100%;
    }
    .caption h1 
    {
        font-size: 40px;
        line-height: 50px;
    }
    .callbacks_nav
    {
        display: none;
    }
    /* Services */
    .services
    {
        height: auto;
    }
    .item-services
    {
        position: static;
        flex-direction: column;
    }
    .row-top
    {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 90%;
        margin-top: 50px;
    }
    .row-bottom
    {
        width: 90%;
    }
    .card-services
    {
        padding: 60px;
    }
    .footer-services
    {
        padding: 20px 0px;
        position: static;
        flex-direction: column;
    }
    .footer-services h1
    {
        width: 90%;
    }
    .footer-services a 
    {
        display: block;
        margin: 20px auto;
        width: 90%;
    }
    .about
    {
        overflow-x: hidden;
    }
    .about-info
    {
        flex-direction: column;
    }
    .about-left, .about-right
    {
        width: 100%;
    }
    .about-right article
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .about-right a
    {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .about-right
    {
        padding: 0px 20px;
    }
    /* Solutions */
    .item-solutions
    {
        flex-direction: column;
    }
    .item-solutions article
    {
        width: 90%;
    }
    /* News */
    .acordeon_contenido figure
    {
        width: 100%;
    }
    /* Footer */
    .footer-container
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fc-center
    {
        width: 90%;
    }
    .fc-right
    {
        flex-direction: column;
    }
    #nav-desk
    {
        display: none;
    }
    #nav-mob
    {
        display: block;
        width: 30px;
    }
    /* ABOUT */
    /* Chars */
    .chars
    {
        flex-direction: column;
        justify-content: center;
    }
    .flip-container
    {
        width: 90%;
        height: auto;
    }
    .back-card
    {
        transform: rotateX(0deg);
    }
    .front, .back-card
    {
        position: static;
    }
    .back-card
    {
        margin-top: 20px;
        text-align: center;
    }
    /* Slide */
    #slider1, #slider1 .viewport
    {
        max-width: 390px;
    }
    #slider1 .overview li figure
    {
        filter: grayscale(0);
    }
    .experience .container
    {
        flex-direction: column;
        gap: 50px;
    }
    /* CONTACT */
    .comunication-body
    {   
        flex-direction: column;
    }
    .comunication-body p
    {   
        width: 90%;
        margin: 30px 0px;
    }
    .video div iframe
    {
        margin: auto;
        width: 100%;
        padding: 20px;
        height: 300px;
    }
    form
    {
        width: 90%;
    }
    .input-group
    {
        flex-direction: column;
        gap: 40px;
    }
    .input-group input
    {
        width: 100%;
    }
    .location div iframe
    {
        padding: 20px;
    }
    .back-solution, .front-solution
    {
        position: static;
    }
    .front-solution
    {
        padding-bottom: 20px;
    }
    .back-solution
    {
        padding-top: 20px;
        transform: rotateY(0deg);
        border-top: 1px white solid;
    }
    .item-solutions article
    {
        height: 450px;
    }
}
